.tab-button {

    -fx-background-color: #ffffff;
    -fx-text-fill: #FEBB6C;
    -fx-effect: dropshadow(three-pass-box, rgba(90,165,184,0.64), 2, 0.0, 0, 0);

}

.tab-button-icon {

    -fx-fill: #FEBB6C;

}

.tab-button-active {

    -fx-background-color: #FEBB6C;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(three-pass-box, rgba(90,165,184,0.64), 2, 0.0, 0, 0);

}

.tab-button-icon-active {

    -fx-fill: #FFFFFF;

}