.root{

    -fx-background-color: #355C7D;

}

.text{

 -fx-fill: #F8B195;

}

.button{

    -fx-background-color: #6C5B7B;
    -fx-background-radius: 60px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 3, 0.0 , 0 , 1);


}

.line{

    -fx-background-color: #707070;

}

.scroll-pane{

    -fx-background-color: #355C7D;

}

.scroll-pane-content{

    -fx-background-color: #355C7D;

}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #F8B195;
    -fx-background-radius: 5em;
}