.root{

    -fx-background-color: #355C7D;

}


.text{

 -fx-fill: #F8B195;

}

.progress-bar {

    -fx-background-radius: 10;

}

.progress-bar .bar{

    -fx-background-radius: 10;
    -fx-background-color: #F8B195;

}

.progress-bar .track{

    -fx-background-radius: 10;
    -fx-background-color: #FFFFFF

}