.root{

    -fx-background-color: #FFFFFF;

}

.progress-bar {

    -fx-background-radius: 10;

}

.progress-bar .bar{

    -fx-background-radius: 10;
    -fx-background-color: #FEBB6C;

}

.progress-bar .track{

    -fx-background-radius: 10;
    -fx-background-color: #EC892F;

}